---
---

@import "{{ site.theme }}";

details {
  border: gray 1px solid;
  border-radius: 5px;
  padding-left: 5px;
}

details[open] > summary {
  border-bottom: 1px dotted gray;
  padding-bottom: 10px;
}

img[alt="materials"] {
  height: 350px;
}
